<section class="mbr-section content6 cid-sn0cMKriim" id="content6-1l">
    
     
    
    <div class="container">
        <div class="table">
            <div class= "col-lg-12 portfolio-item">
                <div class="media-container-row">
                    <td>
                    <div class="mbr-figure" style="width: 60%;">
                      <img src="assets/img/nosotros/nosotros.png" alt="imagen">  
                    </div>
                    </td>
                    <td>
                    <div class= "col-lg-12 portfolio-item">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7">IDIOMATIC, es una institución de enseñanza de idiomas de inglés y portugués que nació hace 20 años con el propósito de ofrecer una alternativa profesional y de alta calidad para jóvenes y adultos. Para ello, ofrece tanto cursos básicos como avanzados para estudiantes, profesionales y empresarios.
<br><br>En estos momentos cuenta con dos sedes en Lima, en los distritos de Miraflores y San Borja.&nbsp;&nbsp;Asimismo cuenta con convenios con la Universidad de Cambridge para ofrecer las certificaciones TOEFL. Los profesores tienen amplia experiencia y reciben una capacitación anual en el extranjero a cargo de partners en USA, UK y Brasil.&nbsp;<br></p>
                        </div>
                    </div>
                </td>
                </div>
            </div>
        </div>
    </div>
</section>


