<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 *ngIf="showMatri == 'true'" class="text-uppercase section-heading">MATRICULA - CURSOS</h2>
                <h2 *ngIf="showMatri == 'false'" class="text-uppercase section-heading">MATRICULA</h2>
            </div>            
        </div>
       
        <div class="row">

              <div *ngFor="let p of cursos" class="col-sm-6 col-md-4 portfolio-item">
                    <a routerLink="/matricula/{{ p.idCurso }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div><img class="img-fluid" src='{{ p.imagen }}'></a>
                        <div class="portfolio-caption">
                            <h4>{{ p.nombreCurso }}</h4>
                            <p class="text-muted">{{ p.nombreSede }}</p>
                            <p class="text-muted">{{ p.frecuencia }}</p>
                            <p class="text-muted">{{ p.hora }}</p>
                            <p class="text-muted">Inicio:  {{ p.fechaInicio }}</p>
                            <p class="text-muted"><strong><em>Costo: S/.  {{ p.costo }}</em><br></strong></p>
                            <p></p>
                           
                        </div>
              </div>
              <div  *ngIf="showMatri == 'false'" class="col-sm-6 col-md-4 portfolio-item">
                <div *ngFor="let u of idAlumno" class="col-sm-8 col-md-4 portfolio-item">
                    <a routerLink="/matricula/{{ u.idAlumno}}" class="portfolio-link" data-toggle="modal"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">Datos Personales</div>
                        <table class="table">
                          <tr>
                          <th>Código:</th>
                          <th><h4>{{ u.idAlumno }}</h4></th>
                          </tr>
                          <tr>
                            <th>Nombres:</th>
                            <th>{{ u.nombreAlumno}}</th>
                          </tr>
                          <tr>
                            <th>Apellidos:</th>
                            <th>{{ u.apellidoAlumno}}</th>
                          </tr>
                          <tr>
                            <th>Documento Identidad:</th>
                            <th>{{ u.dniAlumno}}</th>
                          </tr>
                          <tr>
                            <th>Dirección:</th>
                            <th>{{ u.direccionAlumno}}</th>
                          </tr>
                          <tr>
                            <th>Nro. Contacto:</th>
                            <th>{{ u.telefonoAlumno}}</th>
                          </tr>
                          <tr>
                            <th>Correo Electronico:</th>
                            <th>{{ u.correoAlumno}}</th>
                          </tr>
                        </table>
                      </div>
                     </div>               
                </div>        
        </div>
        <div *ngIf="showMatri == 'false'" >
          <button data-target="#confirmar" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" data-toggle="modal" type="button">Confirmar Matricula</button>          
        </div>
  </div> 
</section> 

<div id="confirmar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <h4 class="modal-title w-100">Confirmar Matricula</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
      </div>
       
          <div class="modal-body">
              <p>Su Matricula está registrada. Para culminar el trámite debe realizar el pago en cualquier banco Interbank, ScotiaBank o BCP mas cercano con su código de alumno</p>
          </div>
          <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" onclick="window.location.href='/matricula'" class="btn btn-danger">Confirmar</button>
          </div>
      </div>
  </div>
</div>
