    <header>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 align-center">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">INTRANET</h1>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 align-center">
                    <div class="card">
                        <img class="card-img-top" src="https://r.mobirisesite.com/98711/assets/images/mbr-1-676x451.jpg?v=1L4zE4" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Gestionar Curso</h5>
                          <p class="card-text">Buscar y editar la informacion relacionada con un curso.</p>
                          <a routerLink="../admin/gestcursos" class="btn btn-primary">Editar Curso</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-center col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://r.mobirisesite.com/98711/assets/images/background2.jpg?v=1L4zE4" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Gestionar alumno</h5>
                          <p class="card-text">Buscar y editar al alumno</p>
                          <a onclick="window.location.href='/gestionar'" class="btn btn-primary">Gestionar Alumno</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-center col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://r.mobirisesite.com/98711/assets/images/background3.jpg?v=1L4zE4" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Confirmacion de matricula</h5>
                          <p class="card-text">Confirmar la  matricula de un alumno, validando vacantes y pago.</p>
                          <a href="confirmacion" class="btn btn-primary">Matricula</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        
    </body>