<header class="masthead" style="background-image: url(&quot;assets/img/backgrounds/home.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Academia de idiomas</span></div>
            <div class="intro-heading text-uppercase"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;IDIOMATIC</span></div>
            <a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="./curso" style="background-color: rgb(255,165,85);border:none;">NUESTROS CURSOS</a></div>
    </div>
</header>




<div class="container">
  
</div>

